<ion-view view-title="Home">
  <ion-content>
    <ion-slide-box>
      <ion-slide ng-repeat="product in vm.products">
        <div class="box blue home-hello" ng-click="vm.showProductDetails(product)">
          <img ng-src="{{product.pictures[0]}}" />
          <div class="item">
            <h2>{{product.title}}</h2>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>


    <div ng-repeat="business in vm.businesses">
      <div class="card" ng-click="vm.showProducts(business)">
        <div class="item item-text-wrap item-thumbnail-left">
          <gmaps center="business.map.origin"
                 zoom="business.map.zoom"
                 markers="business.markers">
          </gmaps>
          <h2>{{business.title}}</h2>
          <p>{{business.desc}}</p>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
